n8n/CustomerOpsTriageEngine.json
{
    "name": "Customer Ops Triage Engine",
    "nodes": [
        {
            "parameters": {
                "project": {
                    "__rl": true,
                    "value": "10001",
                    "mode": "list",
                    "cachedResultName": "Customer Ops Triage Engine"
                },
                "issueType": {
                    "__rl": true,
                    "value": "10006",
                    "mode": "list",
                    "cachedResultName": "Task"
                },
                "summary": "ADD",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.jira",
            "typeVersion": 1,
            "position": [
                -1360,
                592
            ],
            "id": "12ec5732-44e2-4d60-bdc7-d0a97d00b1f8",
            "name": "Create an issue",
            "credentials": {
                "jiraSoftwareCloudApi": {
                    "id": "KZp27YAHhmZlJlXg",
                    "name": "Jira SW Cloud account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://programme-fri-online-cal.trycloudflare.com/api/v1/triage/rag/",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ text: $('Webhook').item.json.body.text }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -1360,
                384
            ],
            "id": "dd7c48fa-00ca-4a9c-9db7-c60088e7f5b8",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.can_auto_respond === true && $json.confidence_score >= 8 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        },
                                        "id": "16193753-5d0c-47ef-9125-a70c32e2f2ab"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "High Confidence"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "982c9524-2dce-4b34-8473-fbb38d055dd1",
                                        "leftValue": "={{ $json.can_auto_respond === false || $json.confidence_score < 8 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Human Queue / Escalated"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -1568,
                480
            ],
            "id": "7887b599-f915-4eda-b76f-8e906cc724c9",
            "name": "Switch"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemma4b:2B"
                },
                "builtInTools": {},
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -2272,
                640
            ],
            "id": "0af5137a-84d5-4438-9555-5df5e447b884",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "EguLb9oRlFKFC6Xu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "triage",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2688,
                480
            ],
            "id": "294e8d83-4629-4660-a53a-ca3f5056ddac",
            "name": "Webhook",
            "webhookId": "b88cbe4e-11e8-4d69-a7f7-df1721290b67"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook').item.json.body.text }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "You are an elite Operations Triage Specialist. Your sole responsibility is to analyze unstructured incoming customer communications and extract structured analytical metadata. Analyze the input text and extract parameters detailing the core topic category, calculated escalation urgency, and baseline consumer emotional state."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -2256,
                480
            ],
            "id": "6a399dd0-31d6-4e60-8475-57120a43b09f",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook').item.json.body.text }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "=You are a Risk Assessment Engineer overseeing an autonomous customer support pipeline. Your job is to determine if an incoming ticket can be safely resolved by an automated Retrieval-Augmented Generation (RAG) system, or if it must be routed to a human engineer.\n\nYou will evaluate the raw email text alongside the classification metadata provided by the preceding routing agent:\n[Classification Input Metadata]: {{ $json.category }} | {{ $json.urgency }} | {{ $json.sentiment }}\n\nRules for Autonomy:\n- If Category is BUG, set can_auto_respond to false and confidence_score below 8.0.\n- If Urgency is CRITICAL or Sentiment is ANGRY, set can_auto_respond to false.\n- If the request asks for specific database updates, credentials, or financial refunds, set can_auto_respond to false.\n- General inquiries or standard billing queries have high baseline confidence scores."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -1920,
                480
            ],
            "id": "e29383e9-761a-4f62-adfd-8b1f11b01425",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemma4b:2B"
                },
                "builtInTools": {},
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -1936,
                672
            ],
            "id": "20eb4741-3356-46fa-b9fe-4947574ef369",
            "name": "OpenAI Chat Model1",
            "credentials": {
                "openAiApi": {
                    "id": "EguLb9oRlFKFC6Xu",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": { \"type\": \"string\", \"enum\": [\"BILLING\", \"BUG\", \"FEATURE_REQUEST\", \"GENERAL_INQUIRY\"], \"description\": \"Core topic category of the customer communication.\" },\n    \"urgency\": { \"type\": \"string\", \"enum\": [\"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\"], \"description\": \"Calculated escalation urgency.\" },\n    \"sentiment\": { \"type\": \"string\", \"enum\": [\"POSITIVE\", \"NEUTRAL\", \"FRUSTRATED\", \"ANGRY\"], \"description\": \"Baseline consumer emotional state.\" }\n  },\n  \"required\": [\"category\", \"urgency\", \"sentiment\"]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -2112,
                768
            ],
            "id": "aa64e38d-c379-4e37-8f5d-797882d6b997",
            "name": "Structured Output Parser"
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"confidence_score\": { \"type\": \"number\", \"description\": \"A floating-point evaluation between 1.0 and 10.0 representing automated accuracy likelihood.\" },\n    \"can_auto_respond\": { \"type\": \"boolean\", \"description\": \"True if it can be resolved autonomously via internal documentation, false otherwise.\" },\n    \"escalation_reason\": { \"type\": [\"string\", \"null\"], \"description\": \"Text stating the core justification for human handoff if autonomous is false, otherwise null.\" }\n  },\n  \"required\": [\"confidence_score\", \"can_auto_respond\", \"escalation_reason\"]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -1776,
                752
            ],
            "id": "2430c58e-d4ef-4b57-8380-1ade5298bfc3",
            "name": "Structured Output Parser1"
        },
        {
            "parameters": {
                "jsCode": "// Build the Slack Block Kit payload from the RAG draft + original ticket context.\nconst webhook = $('Webhook').item.json.body || {};\nconst draft = $json.generated_draft || '';\nconst email = webhook.sender_email || 'unknown@customer.com';\nconst query = webhook.text || '';\n\nconst body = {\n  channel: 'customer-ops-triage',\n  text: 'New high-confidence triage draft ready for review',\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: '📥 NEW HIGH-CONFIDENCE TRIAGE DRAFT', emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Customer:* ' + email } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Original Query:*\\n>' + query } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*AI Generated Response:*\\n```' + draft + '```' } },\n    { type: 'actions', elements: [\n      { type: 'button', text: { type: 'plain_text', text: 'Approve & Send', emoji: true }, style: 'primary', action_id: 'approve_triage_send', value: JSON.stringify({ email: email, draft: draft }) },\n      { type: 'button', text: { type: 'plain_text', text: 'Reject & Escalate', emoji: true }, style: 'danger', action_id: 'reject_triage_escalate', value: 'reject' }\n    ] }\n  ]\n};\n\nreturn [{ json: { slackBody: body } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1168,
                384
            ],
            "id": "122aa2dc-a683-4332-9ec3-8f71565bcfd6",
            "name": "Build Slack Card"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json; charset=utf-8"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.slackBody) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -960,
                384
            ],
            "id": "95a95d43-c14b-4c0c-9fe1-ece5a856beee",
            "name": "Post Draft to Slack"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "slack-interactive",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -2688,
                1072
            ],
            "id": "b4205bd8-dff4-4337-ae40-95b4096b2ebb",
            "name": "Slack Interactivity",
            "webhookId": "a7f4c1e2-9b3d-4e6a-8c5f-2d1b0a9e7c44"
        },
        {
            "parameters": {
                "jsCode": "// Slack posts interactive events as an x-www-form-urlencoded 'payload' field.\nconst raw = $input.first().json.body ? $input.first().json.body.payload : undefined;\nconst payload = typeof raw === 'string' ? JSON.parse(raw) : (raw || {});\nconst action = (payload.actions && payload.actions[0]) ? payload.actions[0] : {};\n\nlet meta = {};\ntry { meta = JSON.parse(action.value); } catch (e) { meta = {}; }\n\nreturn [{ json: {\n  action_id: action.action_id || '',\n  response_url: payload.response_url || '',\n  user: payload.user ? payload.user.username : '',\n  customer_email: meta.email || '',\n  draft: meta.draft || ''\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2432,
                1072
            ],
            "id": "529ee27e-8fd2-4b85-8f2e-3b728bfa18a2",
            "name": "Parse Interaction"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "a2f9c7d1-0e5b-4c3a-9f8e-1b6d4c2a0e93",
                            "leftValue": "={{ $json.action_id }}",
                            "rightValue": "approve_triage_send",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -2176,
                1072
            ],
            "id": "f4284d3a-724d-408b-86e2-937b0910bdac",
            "name": "Route Approval"
        },
        {
            "parameters": {
                "fromEmail": "support@enterprise.com",
                "toEmail": "={{ $('Parse Interaction').item.json.customer_email }}",
                "subject": "Re: Your Support Request",
                "emailFormat": "text",
                "text": "={{ $('Parse Interaction').item.json.draft }}",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                -1904,
                960
            ],
            "id": "09835d1c-fb8b-4f59-ae56-94f4cb60c1f6",
            "name": "Dispatch Customer Email",
            "webhookId": "e0a852e8-3d95-4230-b347-d9277e5339a4",
            "credentials": {
                "smtp": {
                    "id": "aXhDvn4IQlBQyRRA",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Parse Interaction').item.json.response_url }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '✅ Approved & sent to ' + $('Parse Interaction').item.json.customer_email + ' by ' + $('Parse Interaction').item.json.user }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -1648,
                960
            ],
            "id": "662c8c14-3161-423e-91ee-2108e3417262",
            "name": "Update Card - Approved"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Parse Interaction').item.json.response_url }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '🚫 Rejected & escalated to the human queue by ' + $('Parse Interaction').item.json.user }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -1392,
                1184
            ],
            "id": "3e767ea2-be4f-4a6d-b197-ac3ac701b215",
            "name": "Update Card - Escalated"
        },
        {
            "parameters": {
                "project": {
                    "__rl": true,
                    "value": "10001",
                    "mode": "list",
                    "cachedResultName": "Customer Ops Triage Engine"
                },
                "issueType": {
                    "__rl": true,
                    "value": "10004",
                    "mode": "list",
                    "cachedResultName": "Epic"
                },
                "summary": "=Rejected triage draft for {{ $('Parse Interaction').item.json.customer_email }} — escalated by {{ $('Parse Interaction').item.json.user }}",
                "additionalFields": {
                    "description": "=A support agent reviewed the AI-generated draft in Slack and rejected it, so this ticket was opened for manual handling.\n\nCustomer: {{ $('Parse Interaction').item.json.customer_email }}\nRejected by: {{ $('Parse Interaction').item.json.user }}\n\nRejected draft:\n{{ $('Parse Interaction').item.json.draft }}"
                }
            },
            "type": "n8n-nodes-base.jira",
            "typeVersion": 1,
            "position": [
                -1648,
                1184
            ],
            "id": "c2670dcd-7045-458b-86a2-ec3e1cc03751",
            "name": "Create Escalation Ticket",
            "credentials": {
                "jiraSoftwareCloudApi": {
                    "id": "KZp27YAHhmZlJlXg",
                    "name": "Jira SW Cloud account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Build Slack Card",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Slack Card": {
            "main": [
                [
                    {
                        "node": "Post Draft to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slack Interactivity": {
            "main": [
                [
                    {
                        "node": "Parse Interaction",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Interaction": {
            "main": [
                [
                    {
                        "node": "Route Approval",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Approval": {
            "main": [
                [
                    {
                        "node": "Dispatch Customer Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Escalation Ticket",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Escalation Ticket": {
            "main": [
                [
                    {
                        "node": "Update Card - Escalated",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dispatch Customer Email": {
            "main": [
                [
                    {
                        "node": "Update Card - Approved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create an issue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser1": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "21b1bc9b-1020-4224-8ffb-5d9ff736b903",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "8ca65399de194f0cca324af9fcb93d18007a305d42c83e9c855a1b92e53ca99c"
    },
    "nodeGroups": [],
    "id": "fqI9cTGIShESrBvJ",
    "tags": []
}