n8n/CustomerOpsTriageEngine.json
{
  "name": "Customer Ops Triage Engine",
  "nodes": [
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Customer Ops Triage Engine"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ ($json.generated_draft === 'ESCALATE_TO_HUMAN' ? '[AI Safety Fallback] ' : '[Low-Confidence Handoff] ') + ($('AI Agent').item.json.output?.category ?? $('AI Agent').item.json.category ?? 'TICKET') + '/' + ($('AI Agent').item.json.output?.urgency ?? $('AI Agent').item.json.urgency ?? 'N-A') + ' - ' + ($('Webhook').item.json.body.subject || 'Customer support ticket') }}",
        "additionalFields": {
          "description": "=Escalation Reason:\n{{ $json.generated_draft === 'ESCALATE_TO_HUMAN' ? 'AI Safety Fallback - the RAG engine found insufficient internal documentation to safely auto-respond, so the ticket was withheld from automation.' : ('The routing agents flagged this ticket as low-confidence / high-risk for automated response. ' + ($('AI Agent1').item.json.output?.escalation_reason ?? $('AI Agent1').item.json.escalation_reason ?? 'No specific escalation reason was returned by the risk assessor.')) }}\n\n-------- Triage Metadata --------\nCustomer:   {{ $('Webhook').item.json.body.sender_email }}\nSubject:    {{ $('Webhook').item.json.body.subject }}\nCategory:   {{ $('AI Agent').item.json.output?.category ?? $('AI Agent').item.json.category ?? 'N/A' }}\nUrgency:    {{ $('AI Agent').item.json.output?.urgency ?? $('AI Agent').item.json.urgency ?? 'N/A' }}\nSentiment:  {{ $('AI Agent').item.json.output?.sentiment ?? $('AI Agent').item.json.sentiment ?? 'N/A' }}\nConfidence: {{ $('AI Agent1').item.json.output?.confidence_score ?? $('AI Agent1').item.json.confidence_score ?? 'N/A' }} / 10\nAuto-Respond Eligible: {{ $('AI Agent1').item.json.output?.can_auto_respond ?? $('AI Agent1').item.json.can_auto_respond ?? 'N/A' }}\n\n-------- Original Customer Email --------\n{{ $('Webhook').item.json.body.text }}\n\n-------- Attempted RAG Draft --------\n{{ $json.generated_draft && $json.generated_draft !== 'ESCALATE_TO_HUMAN' ? $json.generated_draft : 'N/A - the ticket was escalated before a usable RAG draft was produced.' }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -416,
        352
      ],
      "id": "fd56c8f4-bedb-4fd3-9739-94f4b42dc2b4",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "LFqCRA4z6VUKtIWn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eclipse-analysts-smallest-majority.trycloudflare.com/api/v1/triage/rag/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Webhook').item.json.body.text }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        16
      ],
      "id": "34a15127-a852-4634-9626-06909836592a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.output?.can_auto_respond ?? $json.can_auto_respond) === true && ($json.output?.confidence_score ?? $json.confidence_score) >= 8 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "16193753-5d0c-47ef-9125-a70c32e2f2ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Confidence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "982c9524-2dce-4b34-8473-fbb38d055dd1",
                    "leftValue": "={{ !(($json.output?.can_auto_respond ?? $json.can_auto_respond) === true && ($json.output?.confidence_score ?? $json.confidence_score) >= 8) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human Queue / Escalated"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -624,
        240
      ],
      "id": "92b27201-de34-478f-8766-cbbf5d703b27",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gemma4:e2b"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1328,
        400
      ],
      "id": "69ff2530-619e-422d-a6bb-e7d97200d511",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gVpEoJ6OIMixdKdq",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triage",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        240
      ],
      "id": "3adfe250-308b-4c98-a887-aa597c536b59",
      "name": "Webhook",
      "webhookId": "b88cbe4e-11e8-4d69-a7f7-df1721290b67"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an elite Operations Triage Specialist. Your sole responsibility is to analyze unstructured incoming customer communications and extract structured analytical metadata. Analyze the input text and extract parameters detailing the core topic category, calculated escalation urgency, and baseline consumer emotional state."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1312,
        240
      ],
      "id": "88e7cf07-836c-466c-a8b0-b6973eab6944",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Risk Assessment Engineer overseeing an autonomous customer support pipeline. Your job is to determine if an incoming ticket can be safely resolved by an automated Retrieval-Augmented Generation (RAG) system, or if it must be routed to a human engineer.\n\nYou will evaluate the raw email text alongside the classification metadata provided by the preceding routing agent:\n[Classification Input Metadata]: {{ $json.output?.category ?? $json.category }} | {{ $json.output?.urgency ?? $json.urgency }} | {{ $json.output?.sentiment ?? $json.sentiment }}\n\nRules for Autonomy:\n- If Category is BUG, set can_auto_respond to false and confidence_score below 8.0.\n- If Urgency is CRITICAL or Sentiment is ANGRY, set can_auto_respond to false.\n- If the request asks for specific database updates, credentials, or financial refunds, set can_auto_respond to false.\n- General inquiries or standard billing queries have high baseline confidence scores."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -976,
        240
      ],
      "id": "a148ebe8-9c7b-4489-b27c-24d9f50cfcd8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gemma4:e2b"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -992,
        432
      ],
      "id": "e6d9931a-3283-4e69-aaa6-7ee60a28a854",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gVpEoJ6OIMixdKdq",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": { \"type\": \"string\", \"enum\": [\"BILLING\", \"BUG\", \"FEATURE_REQUEST\", \"GENERAL_INQUIRY\"], \"description\": \"Core topic category of the customer communication.\" },\n    \"urgency\": { \"type\": \"string\", \"enum\": [\"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\"], \"description\": \"Calculated escalation urgency.\" },\n    \"sentiment\": { \"type\": \"string\", \"enum\": [\"POSITIVE\", \"NEUTRAL\", \"FRUSTRATED\", \"ANGRY\"], \"description\": \"Baseline consumer emotional state.\" }\n  },\n  \"required\": [\"category\", \"urgency\", \"sentiment\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1168,
        528
      ],
      "id": "54bd5973-9db8-4118-90f7-50b31600648c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"confidence_score\": { \"type\": \"number\", \"description\": \"A floating-point evaluation between 1.0 and 10.0 representing automated accuracy likelihood.\" },\n    \"can_auto_respond\": { \"type\": \"boolean\", \"description\": \"True if it can be resolved autonomously via internal documentation, false otherwise.\" },\n    \"escalation_reason\": { \"type\": [\"string\", \"null\"], \"description\": \"Text stating the core justification for human handoff if autonomous is false, otherwise null.\" }\n  },\n  \"required\": [\"confidence_score\", \"can_auto_respond\", \"escalation_reason\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -832,
        512
      ],
      "id": "941db891-b035-4857-b498-8c3048d76468",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "// Build the Slack Block Kit payload from the RAG draft + original ticket context.\nconst webhook = $('Webhook').first().json.body || {};\nconst draft = $input.first().json.generated_draft || '';\nconst email = webhook.sender_email || 'unknown@customer.com';\nconst query = webhook.text || '';\nconst subject = webhook.subject || '';\nconst queryShort = query.slice(0, 900); // Slack button 'value' is capped at 2000 chars; carry a safe excerpt of the real email to the escalation ticket\n\nconst body = {\n  channel: 'customer-ops-triage',\n  text: 'New high-confidence triage draft ready for review',\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: '📥 NEW HIGH-CONFIDENCE TRIAGE DRAFT', emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Customer:* ' + email } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Original Query:*\\n>' + query } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*AI Generated Response:*\\n```' + draft + '```' } },\n    { type: 'actions', elements: [\n      { type: 'button', text: { type: 'plain_text', text: 'Approve & Send', emoji: true }, style: 'primary', action_id: 'approve_triage_send', value: JSON.stringify({ email: email, draft: draft, subject: subject, query: queryShort }) },\n      { type: 'button', text: { type: 'plain_text', text: 'Reject & Escalate', emoji: true }, style: 'danger', action_id: 'reject_triage_escalate', value: JSON.stringify({ email: email, draft: draft, subject: subject, query: queryShort }) }\n    ] }\n  ]\n};\n\nreturn [{ json: { slackBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b207b321-f554-4130-bc3a-ca2f6c661e63",
      "name": "Build Slack Card"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        144
      ],
      "id": "3782767b-fc77-465c-9f34-5c6ba4171a56",
      "name": "Post Draft to Slack"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interactive",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        832
      ],
      "id": "8805dc1c-2dd2-473e-8f2b-8ed5a8384785",
      "name": "Slack Interactivity",
      "webhookId": "a7f4c1e2-9b3d-4e6a-8c5f-2d1b0a9e7c44"
    },
    {
      "parameters": {
        "jsCode": "// Slack posts interactive events as an x-www-form-urlencoded 'payload' field.\nconst raw = $input.first().json.body ? $input.first().json.body.payload : undefined;\nconst payload = typeof raw === 'string' ? JSON.parse(raw) : (raw || {});\nconst action = (payload.actions && payload.actions[0]) ? payload.actions[0] : {};\n\nlet meta = {};\ntry { meta = JSON.parse(action.value); } catch (e) { meta = {}; }\n\nreturn [{ json: {\n  action_id: action.action_id || '',\n  response_url: payload.response_url || '',\n  user: payload.user ? payload.user.username : '',\n  customer_email: meta.email || '',\n  draft: meta.draft || '',\n  validatedDraftText: meta.draft || '',\n  subject: meta.subject || '',\n  original_email: meta.query || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        832
      ],
      "id": "4a7c21b6-13fc-418e-8747-7089c0d2d014",
      "name": "Parse Interaction"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2f9c7d1-0e5b-4c3a-9f8e-1b6d4c2a0e93",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "approve_triage_send",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        832
      ],
      "id": "75efa69c-ef46-4060-927f-76b94e863d57",
      "name": "Route Approval"
    },
    {
      "parameters": {
        "fromEmail": "support@enterprise.com",
        "toEmail": "={{ $('Parse Interaction').item.json.customer_email }}",
        "subject": "=Re: {{ $('Parse Interaction').item.json.subject || 'Your Support Request' }}",
        "emailFormat": "text",
        "text": "={{ $('Parse Interaction').item.json.validatedDraftText }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -960,
        720
      ],
      "id": "d6106672-0720-4986-81b5-ba19e48490eb",
      "name": "Dispatch Customer Email",
      "webhookId": "e0a852e8-3d95-4230-b347-d9277e5339a4",
      "credentials": {
        "smtp": {
          "id": "YLUAKdBs2VEPtEbL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Interaction').item.json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '✅ Approved & sent to ' + $('Parse Interaction').item.json.customer_email + ' by ' + $('Parse Interaction').item.json.user }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -704,
        720
      ],
      "id": "c1d81666-ff7c-41e0-92f7-9a517f374d23",
      "name": "Update Card - Approved"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Interaction').item.json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: '🚫 Rejected & escalated to the human queue by ' + $('Parse Interaction').item.json.user }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        944
      ],
      "id": "0f894973-2ec1-4e1a-b2ee-fccd88e1dd2a",
      "name": "Update Card - Escalated"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "Customer Ops Triage Engine"
        },
        "issueType": {
          "__rl": true,
          "value": "10004",
          "mode": "list",
          "cachedResultName": "Epic"
        },
        "summary": "=Rejected triage draft for {{ $('Parse Interaction').item.json.customer_email }} — escalated by {{ $('Parse Interaction').item.json.user }}",
        "additionalFields": {
          "description": "=A support agent reviewed the AI-generated draft in Slack and REJECTED it, so this ticket was opened for manual handling.\n\n-------- Ticket Metadata --------\nCustomer:    {{ $('Parse Interaction').item.json.customer_email }}\nSubject:     {{ $('Parse Interaction').item.json.subject }}\nRejected by:  {{ $('Parse Interaction').item.json.user }}\n\n-------- Original Customer Email --------\n{{ $('Parse Interaction').item.json.original_email || 'Not captured (older Slack card without the email excerpt).' }}\n\n-------- Rejected AI Draft --------\n{{ $('Parse Interaction').item.json.draft }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -704,
        944
      ],
      "id": "165da980-4ee1-4c16-b109-ec9a1064b1c7",
      "name": "Create Escalation Ticket",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "LFqCRA4z6VUKtIWn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2a9b3d1-4c3a-9f8e-1b6d-4c2a0e93a2f9",
              "leftValue": "={{ $json.generated_draft }}",
              "rightValue": "ESCALATE_TO_HUMAN",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        16
      ],
      "id": "cbd9996f-eb3b-40f8-9164-f8d1cb1630a0",
      "name": "Check RAG Fallback"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check RAG Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RAG Fallback": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Slack Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Card": {
      "main": [
        [
          {
            "node": "Post Draft to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Interactivity": {
      "main": [
        [
          {
            "node": "Parse Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Interaction": {
      "main": [
        [
          {
            "node": "Route Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Approval": {
      "main": [
        [
          {
            "node": "Dispatch Customer Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Escalation Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Escalation Ticket": {
      "main": [
        [
          {
            "node": "Update Card - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Customer Email": {
      "main": [
        [
          {
            "node": "Update Card - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f56c6abd-bc6f-492c-a168-670f0b0af601",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64dc1d63da156939672acf2912f144147951885f84243325239ffb79e869894a"
  },
  "nodeGroups": [],
  "id": "XiTyjQ9NXXNf3FZc",
  "tags": []
}