n8n/CustomerOpsTriageEngine.json
{
    "name": "Customer Ops Triage Engine",
    "nodes": [
        {
            "parameters": {
                "project": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "issueType": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.jira",
            "typeVersion": 1,
            "position": [
                640,
                128
            ],
            "id": "d768d2d8-7e25-40bd-b1f3-607374cf124b",
            "name": "Create an issue"
        },
        {
            "parameters": {
                "method": "POST",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                640,
                -80
            ],
            "id": "99d10a7e-e922-45e9-9552-2a1a7d829e2a",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.can_auto_respond === true && $json.confidence_score >= 8 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        },
                                        "id": "16193753-5d0c-47ef-9125-a70c32e2f2ab"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "High Confidence"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "982c9524-2dce-4b34-8473-fbb38d055dd1",
                                        "leftValue": "={{ $json.can_auto_respond === false || $json.confidence_score < 8 }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Human Queue / Escalated"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                432,
                16
            ],
            "id": "7454d227-0d05-4d00-8423-68f7b18e4f05",
            "name": "Switch"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -272,
                176
            ],
            "id": "36331d0a-5de1-4800-a018-c1369a69b9a1",
            "name": "OpenAI Chat Model"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "triage",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -688,
                16
            ],
            "id": "0de494d9-0052-40f4-a904-cc4f64842827",
            "name": "Webhook",
            "webhookId": "b88cbe4e-11e8-4d69-a7f7-df1721290b67"
        },
        {
            "parameters": {
                "hasOutputParser": true,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -256,
                16
            ],
            "id": "148c5146-acfb-438e-822a-2f861aca30b8",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=={{ $('Webhook').item.json.body.text }}",
                "hasOutputParser": true,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                80,
                16
            ],
            "id": "9d74a958-4156-4c2f-b937-5178f06f8be7",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                64,
                208
            ],
            "id": "648bf6a1-5b32-41e1-9a29-9b785b6e680c",
            "name": "OpenAI Chat Model1"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -112,
                304
            ],
            "id": "b9fbfbfe-4dd8-4913-ab5d-8494ca73f082",
            "name": "Structured Output Parser"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                224,
                288
            ],
            "id": "58c645ef-1127-4c3d-a986-734746208c8f",
            "name": "Structured Output Parser1"
        }
    ],
    "pinData": {},
    "connections": {
        "Switch": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create an issue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser1": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "4c070f0b-df21-4114-b7d0-6ba5d74a165e",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "8ca65399de194f0cca324af9fcb93d18007a305d42c83e9c855a1b92e53ca99c"
    },
    "nodeGroups": [],
    "id": "fqI9cTGIShESrBvJ",
    "tags": []
}